header {
    width: 100%;
    height: 70px;
}

main {
    height: calc(100vh - 70px);
    overflow: hidden;
}

/* Nav */

.nav_mobile img {
    width: 50px;
}

/* Aside */

.aside {
    width: 150px;

    background-image: url(/img/sidebar-bg.png);
    background-color: #051E34;
}

.aside_mobile {
    width: 60px;

    background-image: url(/img/sidebar-bg.png);
    background-color: #051E34;
}

.my_icon {
    width: 30px;
}


/* Main View */

.main_view {
    height: calc(100vh - 70px);
}

.my_badges {
    font-size: 12px !important;
    font-weight: 600 !important;
}

.my_headers {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 600;
}

.next_class .avatar_icon {
    width: 30px;
    margin-right: 5px;
}

.main_scroll {
    height: calc(100vh - 200px);
    overflow-y: auto;

    background-color: #F8F8F8;
}


@media screen and (max-width: 992px) {

    .main_scroll {
        height: calc(100vh - 250px);
    }
}